<%- include('partials/header'); %>
<div id="cssGrid">
  <header><h1> Brewbean's Coffee Shop </h1> </header>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/createproduct">Create Product</a></li>
        <li><a href="/editproduct">Edit Product</a></li>
        <li><a href="/basket">Basket</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/updatestatus">Order Status</a></li>
     </ul>
      </nav>
    <main>
        <h4><%= title %></h4>
        <br>
        <br>
        <form method="post">
            <label for="productname">Name:</label>
            <input type="text" id="productname", name="productname" required>
            <label for="description">Description:</label>
            <input type="text" id="description", name="description" required>
            <label for="image">Image:</label>
            <input type="text" id="image", name="image" required>
            <label for="price">Price:</label>
            <input type="number" id="price", name="price" required>
            <label for="active">Status:</label>
            <input type="number" id="active", name="active" required>
            <button type="submit">Add Item</button>
        </form>
        <br>
        <br>
        <table>
            <tr class="text-center">
                <th>Item Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Price</th>
                <th>Status</th>
              </tr>  
        <%  for(let idx =0; idx < items.length; idx++ ){  %>
            <tr class="text-center">
              <td scope="row"><%= items[idx].IDPRODUCT%></td>
              <td><%= items[idx]PRODUCTNAME%></td>
              <td><%= items[idx].DESCRIPTION%></td>
              <td><%= items[idx].PRODUCTIMAGE%></td>
              <td>$<%= items[idx].PRICE%></td>
              <td><%= items[idx].ACTIVE%></td>
            </tr>     
            <%  } %> 
        </table>
    </main>
</div>
<%- include('partials/footer'); %>