<%- include('partials/header'); %>
<div id="cssGrid">
  <header><h1> Brewbean's Coffee Shop </h1> </header>
    <nav>
	<ul>
      <li><a href="">Home</a></li>
      <li><a href="">Create Product</a></li>
      <li><a href="">Edit Product</a></li>
      <li><a href="">Basket</a></li>
      <li><a href="">Check Out</a></li>
      <li><a href="">Search</a></li>
      <li><a href="">Account</a></li>
      <li><a href="">Order Status</a></li>
	 </ul>
    </nav>
    <main>
        <h4><%= title %></h4>
    <table>
    <tr class="text-center">
        <th>Item Code</th>
        <th>Description</th>
      </tr>  
    <%= console.log('items', items)%>
    <%= console.log('items.length', items.length)%>

        <tr class="text-center">
          <td scope="row"><%= items.id%></td>
          <td><input type="text" value="<%= items.Description%>"></td>
        </tr>     
        <tr>
            <td>
        <button  type="submit">Update Product</button>
    </td>
    </tr>
</table>
    </main>
</div>
<%- include('partials/footer'); %>