<%- include('partials/header'); %>
<div id="cssGrid">
  <header><h1> Brewbean's Coffee Shop </h1> </header>
  <nav>
	<ul>
      <li><a href="/">Home</a></li>
      <li><a href="/createproduct">Create Product</a></li>
      <li><a href="/editproduct">Edit Product</a></li>
      <li><a href="/basket">Basket</a></li>
      <li><a href="/reports">Reports</a></li>
      <li><a href="/updatestatus">Order Status</a></li>
	 </ul>
    </nav>
    <main>
        <h4><%=title%></h4>
    <br>
    <br>
    <table>
    <tr class="text-center">
        <th>Item Code</th>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>
      </tr>  

    <%  for(let idx =0; idx < items.length; idx++ ){  %>
        <tr class="text-center">
          <td><%= items[idx].IDPRODUCT %></td>
          <td><%= items[idx].PRODUCTNAME %></td>
          <td><input type="number"></td>
          <td><%= items[idx].PRICE %></td>
          <td><button  type="button">Add to Basket</button></td>
          <td><button  type="button">Check Sale</button></td>
        </tr>     
        <%  } %> 
</table>
    </main>
</div>
<%- include('partials/footer'); %>